:root {
  --line-0: #8884d8;
  --line-1: #82ca9d;
  --line-2: #ffc658;
  --line-3: #ff7300;
  --line-4: #ff00aa;
  --line-5: #00aaff;
}

:global(body.light) {
  --text-color: #000;
  --axis-color: #000;
  --grid-color: #ccc;
  --tooltip-bg: #fff;
  --tooltip-border: #ccc;
}

:global(body.dark) {
  --text-color: #fff;
  --axis-color: #fff;
  --grid-color: #555;
  --tooltip-bg: #222;
  --tooltip-border: #555;
}

.chart {
  width: 100%;
  height: 100%;
}

/* Tooltip */
.tooltip {
  padding: 8px;
  border: 1px solid var(--tooltip-border);
  background-color: var(--tooltip-bg);
  color: var(--text-color);
  border-radius: 6px;
}

.date {
  font-weight: bold;
  margin-bottom: 4px;
}

/* Цвета линий */
.lineColor0 {
  stroke: #8884d8 !important;
  fill: rgba(136, 132, 216, 0.2) !important;
}
.lineColor1 {
  stroke: #82ca9d !important;
  fill: rgba(130, 202, 157, 0.2) !important;
}
.lineColor2 {
  stroke: #ffc658 !important;
  fill: rgba(255, 198, 88, 0.2) !important;
}
.lineColor3 {
  stroke: #ff7300 !important;
  fill: rgba(255, 115, 0, 0.2) !important;
}


