.light {
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.dark {
  background-color: #1e1e1e;
  color: #ffffff;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}
